<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact Us
                    </h4>
                    @await Component.InvokeAsync("_UILayoutFooterContactComponentPartial")
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    
                    @await Component.InvokeAsync("_UILayoutFooterTitleComponentPartial")
                    @await Component.InvokeAsync("_UILayoutFooterDescriptionComponentPartial")
                    @await Component.InvokeAsync("_UILayoutFooterSocialComponentPartial")
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Opening Hours
                </h4>
                <p>
                    Everyday
                </p>
                <p>
                    10.00 Am -10.00 Pm
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                <span id="displayYear"></span> | &copy; Copyright SignalR Project
            </p>
        </div>
    </div>
</footer>