/UdemySiqnalRProject/SiqnalRApi/bin
/UdemySiqnalRProject/SiqnalRApi/obj
/UdemySiqnalRProject/SiqnalRWebUI/bin
/UdemySiqnalRProject/SiqnalRWebUI/obj
/UdemySiqnalRProject/SignalR.EntityLayer/obj
/UdemySiqnalRProject/SignalR.EntityLayer/bin
