@model SiqnalRWebUI.Dtos.OrderDetailsDtos.UpdateOrderDetailDto
@{
    ViewData["Title"] = "Update Order Detail";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Order Detail Update Page</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <input asp-for="OrderDetailID" hidden/>
                            <div class="form-group" hidden>
                                <input asp-for="OrderID"/>
                            </div>
                            <div class="form-group" hidden>
                                <input asp-for="ProductID"/>
                            </div>
                            <div class="form-group">
                                <label for="squareSelect">Count</label>
                                <input asp-for="Count" type="number" class="form-control" required">
                            </div>
                            <div class="form-group">
                                <label for="squareInput">Total Price</label>
                                <input asp-for="TotalPrice" type="text" class="form-control" required">
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>