@model SiqnalRWebUI.Dtos.CategoryDtos.CreateCategoryDto
@{
    ViewData["Title"] = "Create Category";
    ViewData["ActiveCategory"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Category Create Form</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Category Name</label>
                                <input type="text" asp-for="CategoryName" class="form-control" id="categoryname">
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>