@model List<SiqnalRWebUI.Dtos.CategoryDtos.ResultCategoryDto>
@{
    ViewData["Title"] = "Categories";
    ViewData["ActiveCategory"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Categories</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">Category Name</th>
									<th scope="col">Status</th>
									<th scope="col">Delete</th>
									<th scope="col">Update</th>
								</tr>
							</thead>
							<tbody>
								@foreach(var item in Model)
								{
									<tr>
										<td>@item.CategoryName</td>
										<td>@item.Status</td>
										<td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-outline-danger">Delete</a></td>
										<td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-outline-success">Update</a></td>
									</tr>
								}
								
							</tbody>
						</table>
						<a href="/Category/CreateCategory" class="btn btn-outline-primary">+ Add Category</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>