@model SiqnalRWebUI.Dtos.CategoryDtos.UpdateCategoryDto

@{
    ViewData["Title"] = "Update Category";
    ViewData["ActiveCategory"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Category Update Form</div>
                        </div>
                        <input asp-for="CategoryID" hidden/>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Category Name</label>
                                <input type="text" asp-for="CategoryName" class="form-control" id="categoryname">
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
                            <div class="form-check" hidden >
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Status" type="checkbox" value="@Model.Status">
                                </label>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

