<div class="card" id="mySidebar">
    <div style="margin-left:0px; margin-right:0px;" class="panel-heading rounded bg-primary row">
        <h5 style="color:white;" class="panel-title mt-3 pl-3">Chats</h5>
        <a href="#" role="button" onclick="w3_close()" id="chatoffbtn"><i style="color:white" class="fa-solid fa-times"></i></a>
    </div>
    <div style="height: 430px; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;" class="list-group">
        <a class="listmessage list-group-item list-group-item-action" href="/Message/Index">
            <div class="row">
                <img width="40" class="rounded-circle mr-2" src="~/ready-bootstrap-dashboard-master/assets/img/profile.jpg" />
                <p class="mt-2 font-weight-bold">Malik Hesenov</p>
            </div>
        </a>
    </div>
    <div class="card-footer">
        <a data-toggle="modal" data-target="#createchat" role="button" href="#" id="createchatbtn" class="btn btn-primary">Create Chat</a>
    </div>
    <div class="modal fade" id="createchat" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create Chat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-at"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
