@model SiqnalRWebUI.Dtos.FeatureDtos.CreateFeatureDto
@{
    ViewData["Title"] = "Create Feature";
    ViewData["ActiveFeature"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Feature Create Form</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title1">Title - 1:</label>
                                <input type="text" asp-for="Title1" class="form-control" id="title1">
                            </div>
                            <div class="form-group">
                                <label for="description1">Description - 1:</label>
                                <textarea asp-for="Description1" class="form-control" id="description1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="title2">Title - 2:</label>
                                <input type="text" asp-for="Title2" class="form-control" id="title2">
                            </div>
                            <div class="form-group">
                                <label for="description2">Description - 2:</label>
                                <textarea asp-for="Description2" class="form-control" id="description2"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="title3">Title - 3:</label>
                                <input type="text" asp-for="Title3" class="form-control" id="title3">
                            </div>
                            <div class="form-group">
                                <label for="description3">Description - 3:</label>
                                <textarea asp-for="Description3" class="form-control" id="description3"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>