@model List<SiqnalRWebUI.Dtos.SlideDtos.ResultSlideDto>
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                @if (item.DataValue == 0)
                {
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            @item.Title
                                        </h1>
                                        <p>
                                            @item.Description
                                        </p>
                                        <div class="btn-box">
                                            <a href="#" class="btn1">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            @item.Title
                                        </h1>
                                        <p>
                                            @item.Description
                                        </p>
                                        <div class="btn-box">
                                            <a href="#" class="btn1">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
            }

        </div>

        @await Component.InvokeAsync("_SliderNavigationComponentPartial")
    </div>

</section>
</div>