@media (max-width: 3000px) {

    .heading_container {
        margin-left: 600px;
    }

    #thcontact{
        display:none;
    }

    #tdcontact {
        display: none;
    }

    .col-12 .fileimage {
        margin-left: 300px;
        margin-right: 400px;
    }

    #pic {
        margin-left: 120px;
    }

    #imgsize {
        height: 50px;
        width: 50px;
    }

    .card .card-body .text-dark {
        font-size: 20px;
    }

    .content .container-fluid .d-flex .buttongroup {
        margin-left: -100px;
    }

    .content .container-fluid .d-flex a {
        margin-left: 890px;
    }

    .content .container-fluid .row .col-sm-6 .card .card-body .row {
        margin-left: 1px;
    }

    .content .container-fluid .d-flex .testimonial {
        margin-left: 860px;
    }

    .content .container-fluid .row .col-sm-6 .card .card-body .row a span {
        margin-top: 20px;
        margin-left:350px;
    }
    
    @media (max-width: 1200px) {
        .heading_container {
            margin-left: 120px;
        }

        .col-12 .fileimage {
            margin-left: 50px;
            margin-right: 70px;
        }

        #pic {
            margin-left: 60px;
        }

        #tdtext{
            font-size: 10px;
        }

        #thtext {
            font-size: 10px;
        }

        #thcontact {
            display: block;
            font-size: 10px;
        }

        #tdcontact {
            display: block;
        }

        #throle {
            font-size: 10px;
        }

        #tdrole {
            font-size: 10px;
        }

        #thusername {
            font-size: 10px;
        }

        #tdusername {
            font-size: 10px;
        }

        #imgsize {
            display: none;
        }

        #imgsize {
            height: 20px;
            width: 20px;
        }

        #adminbtn{
            font-size:10px;
        }

        #tdemail {
            display: none;
        }

        #tdnumber {
            display: none;
        }

        #themail {
            display: none;
        }

        #thnumber {
            display: none;
        }

        .card .card-body .text-dark {
            font-size: 15px;
        }

        .container-fluid .row .rightgism {
            margin-left: 100px;
        }

        .content .container-fluid .d-flex .buttongroup {
            margin-left: -100px;
        }

        .content .container-fluid .d-flex a {
            margin-left: 170px;
        }

        .content .container-fluid .d-flex .testimonial {
            margin-left: 160px;
        }

        .row .col-md-12 .card .card-body table tbody tr td {
            font-size: 13px;
        }

        .row .col-md-12 .card .card-body table tbody tr td h6 {
            font-size: 13px;
        }

        .content .container-fluid .row .col-sm-6 .card .card-body .row {
            margin-left: 1px;
        }

        .content .container-fluid .row .col-sm-6 .card .card-body .row a span {
            margin-left:350px;
            margin-top: -30px;
        }

        
        .content .container-fluid .row .col-md-12 .card .card-body .d-flex img{
            height:300px; 
            width:250px;
        }

        .content .container-fluid .row .col-md-12 .card .card-body .d-flex p {
            font-size:12px;
        }

        
    }
}
