<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No verification!</title>
    <link rel="stylesheet" type="text/css" href="~/html/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/html/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="~/html/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="~/html/css/iofrm-theme22.css" />
    <link rel="icon" type="image/x-icon" href="@await Component.InvokeAsync("_ProjectTitleImageComponentPartial")">
</head>
<body>
    <div class="form-body without-side">
        <div class="website-logo">
            <img style="width:200px; margin-top:-50px; margin-left:-50px;" src="~/html/images/logo-white-removebg-preview.png" alt="">
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="~/html/images/graphic3.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <svg style="fill:red; margin-left:90px;" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="150" height="150"><path d="M21,15h3v9H0V6.5A3.5,3.5,0,0,1,3.5,3H13V6H3.5a.5.5,0,0,0-.5.5v.46l7.361,7.361a2.373,2.373,0,0,0,3.278,0l.327-.327A3.334,3.334,0,0,0,16.356,15l.847,0L15.76,16.442a5.317,5.317,0,0,1-7.521,0L3,11.2V21H21ZM15,0V11.647A1.35,1.35,0,0,0,17.193,12.7L19.5,10.856,21.807,12.7A1.35,1.35,0,0,0,24,11.647V0Z" /></svg>
                        <h5 style="text-align:center" class="ml-2 mt-4 text-danger">You have not completed email verification!</h5>
                        <a href="/Login/Index" style="margin-left:90px; margin-top:30px;" class="btn btn-primary">Go to Login Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/html/js/jquery.min.js"></script>
    <script src="~/html/js/popper.min.js"></script>
    <script src="~/html/js/bootstrap.min.js"></script>
    <script src="~/html/js/main.js"></script>
</body>

</html>