@model SiqnalRWebUI.Dtos.DiscountDto.CreateDiscountDto
@{
    ViewData["Title"] = "Create Discount";
    ViewData["ActiveDiscount"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Discount Create Form</div>
                        </div>
                        <div class="card-body">
                            <div class="col-12">
                                <div id="fileimage" class="form-group fileimage">
                                    <label for="squareInput">Image</label>
                                    <input asp-for="ImageURL" type="file" class="form-control input-square" oninput="pic.src=window.URL.createObjectURL(this.files[0])">
                                    <img id="pic" width="100" src="~/ready-bootstrap-dashboard-master/assets/img/discount.png" />
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group col-6">
                                    <label for="title">Title</label>
                                    <input type="text" asp-for="Title" class="form-control" id="title" required>
                                </div>
                                <div class="form-group col-6">
                                    <label for="amount">Amount</label>
                                    <input type="text" asp-for="Amount" class="form-control" id="amount" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea asp-for="Description" class="form-control" id="description" required></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
