@model SiqnalRWebUI.Dtos.IdentityDtos.ChangePassword
@{
    ViewData["Title"] = "Update Password";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Update Password</h4>
        <div class="card col-6">
            <div class="card-body">
                <form method="post">
                    
                    <input asp-for="UserId" value="@ViewBag.UserId" hidden />
                    <div class="form-group">
                        <label for="squareInput">Current Password</label>
                        <input type="password" asp-for="CurrentPassword" class="form-control input-square" id="currentpassword">
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="squareInput">New Password</label>
                        <input type="password" asp-for="NewPassword" class="form-control input-square" id="newpassword">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="squareInput">Confirm New Password</label>
                        <input type="password" asp-for="ConfirmNewPassword" class="form-control input-square" id="confirmnewpassword">
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-success ml-2">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>