@model SiqnalRWebUI.Dtos.IdentityDtos.ForgotPasswordDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - @await Component.InvokeAsync("_UILayoutProjectTitleComponentPartial")</title>
    <link rel="stylesheet" type="text/css" href="~/html/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/html/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="~/html/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="~/html/css/iofrm-theme22.css">
    <link rel="icon" type="image/x-icon" href="~/logo-no-background-removebg-preview (1).png">
</head>
<body>
    <img src="" />
    <div class="form-body without-side">
        <div class="website-logo">
            <img style="width:200px; margin-top:-50px; margin-left:-50px;" src="~/html/images/logo-white-removebg-preview.png" alt="">
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="~/html/images/graphic3.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Forgot Password</h3>
                        <br />
                        <form method="post">
                            <input class="form-control" asp-for="Email" type="email" name="email" placeholder="Email" required>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/html/js/jquery.min.js"></script>
    <script src="~/html/js/popper.min.js"></script>
    <script src="~/html/js/bootstrap.min.js"></script>
    <script src="~/html/js/main.js"></script>
</body>

</html>