@using SignalR.DataAccessLayer.Concrete;
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<div class="main-header">

    <script type="text/javascript">
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:5056/SignalRHub").build();
            $("#connstatus").text(connection.state);
            connection.start().then(() => {
                $("#connstatus").text(connection.state);
                setInterval(() => {
                    connection.invoke("SendNotifications");
                }, 2000);

            }).catch((err) => { console.log(err) });

            connection.on("ReceiveFalseNotificationCount", (falsenotificationcountvalue) => {
                $("#falsenotificationcount").text(falsenotificationcountvalue);
            });

            connection.on("ReceiveFalseNotificationCountTitle", (falsenotificationcounttitlevalue) => {
                $("#falsenotificationcounttitle").text(falsenotificationcounttitlevalue);
            });



            connection.on("ReceiveFalseNotificationList", (falsenotificationlistvalue) => {
                console.log(falsenotificationlistvalue);
                $("#falsenotificationlist").empty();
                for (var i = 0; i < falsenotificationlistvalue.length; i++) {
                    $("#falsenotificationlist").append(`<a href="#">
                                                <div class="notif-icon notif-${falsenotificationlistvalue[i].notificationTypeColor}">
                                                <i class="${falsenotificationlistvalue[i].notificationTypeIcon}"></i>
                                                </div >
                                                <div class="notif-content" >
                                                <span class="block" >
                                                ${falsenotificationlistvalue[i].notificationDescription}
                                                </span>
                                                <span class="time">${falsenotificationlistvalue[i].date}</span>
                                                </div>
                                                </a>`
                    )
                };
            });
        });
    </script>

    <div class="logo-header">
        <a href="/Statistic/Index" class="logo">
            @await Component.InvokeAsync("_UILayoutProjectTitleComponentPartial")
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
    </div>
    <nav class="navbar navbar-header navbar-expand-lg">
        <div class="container-fluid">

            <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                <div class="input-group">
                    <input type="text" placeholder="Search ..." class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-search search-icon"></i>
                        </span>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                <li class="nav-item dropdown hidden-caret">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Slider/Index">Slider</a>
                        <a class="dropdown-item" href="/SocialMedia/Index">Social Media</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Contact/Index">Contact</a>
                    </div>
                </li>
                <li class="nav-item dropdown hidden-caret">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-regular fa-bell"></i>
                        @{
                            var context = new SignalRContext();
                            var values = context.Notifications.Where(x => x.Status == false).Count();
                        }
                        @if (values is 0)
                        {
                           
                        }
                        else
                        {
                            <span class="notification" id="falsenotificationcount"></span>
                        }
                    </a>
                    <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="dropdown-title">
                                You have <span class="text-default" id="falsenotificationcounttitle"></span> new notification
                            </div>
                        </li>
                        <li>
                            <div class="notif-center">
                                
                                @if(values is 0)
                                {
                                    <div>
                                        <p class="text-center">You have no unread messages :)</p>
                                    </div>
                                }
                                else
                                {
                                    <div id="falsenotificationlist"></div>
                                }
                                
                            </div>
                        </li> 
                        <li>
                            <a class="see-all" href="/Notification/Index"> <strong>See all notifications</strong> <i class="la la-angle-right"></i> </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg" alt="user-img" width="36" class="img-circle"><span>Admin</span></span> </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <div class="user-box">
                                <div class="u-img"><img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg" alt="user"></div>
                                <div class="u-text">
                                    <h4>Admin</h4>
                                    <p class="text-muted">signalr@gmail.com</p><a href="#" class="btn btn-rounded btn-danger btn-sm">See menu</a>
                                </div>
                            </div>
                        </li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Menu</a>
                        <a class="dropdown-item" href="#">Bookings</a>
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
        </div>
    </nav>
</div>
