@using SignalR.DataAccessLayer.Concrete;
@model SiqnalRWebUI.Dtos.AboutDtos.GetAboutDto
@{
	ViewData["Title"] = "About Us";
	ViewData["ActiveAbout"] = "active";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	var context = new SignalRContext();
	var value = context.Abouts.Count();
}
<div class="content">
	<div class="container-fluid">
		<div class="d-flex">
			<h4 class="page-title">About Us</h4>
			@if(value is not 1)
			{
				<a style="height:40px;" href="/About/CreateAbout" class="btn btn-primary"><i class="fa-solid fa-plus mr-1"></i> Add About</a>
			}
			else
			{
				<a style="height:40px;" href="/About/UpdateAbout/5" class="btn btn-primary"><i class="fa-solid fa-pen mr-1"></i> Edit About</a>
			}
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="d-flex">
							<img class="p-3" src="@Model.ImageURL" width="300" />
							<div>
								<h5 style="text-align:center">@Model.Title</h5>
								<p class="mr-5 ml-4">@Model.Description</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>