@model SiqnalRWebUI.Dtos.AboutDtos.GetAboutDto
@{
    ViewData["Title"] = "About Us";
}
<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="~/feane-1.0.0/images/hero-bg.jpg" alt="">
        </div>
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/Home/Index">
                        <span>
                            @await Component.InvokeAsync("_UILayoutProjectTitleComponentPartial")
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mx-auto ">
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Index">Home </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Menu/MenuByTable/">Menu <span class="sr-only">(current)</span> </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/About/IndexUI">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/BookATable/Index">Book Table</a>
                            </li>
                        </ul>
                        <div class="user_option">
                            <a href="/Baskets/MenuTableList" class="order_online">
                                <i style="color:white" class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->

    </div>
    <section class="about_section layout_padding">
        <div class="container  ">

            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="@Model.ImageURL" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                @Model.Title
                            </h2>
                        </div>
                        <p>
                            @Model.Description
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    <!-- jQery -->
    @await Component.InvokeAsync("_UILayoutScriptsComponentPartial")



</body>

</html>
