@model SiqnalRWebUI.Dtos.AboutDtos.UpdateAboutDto
@{
    ViewData["Title"] = "Update About";
    ViewData["ActiveAbout"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">About Update Form</div>
                        </div>
                        <input asp-for="AboutID" hidden />
                        <div class="col-12">
                            <div id="fileimage" class="form-group fileimage">
                                <label for="squareInput">Image</label>
                                <input asp-for="ImageURL" type="file" class="form-control input-square" oninput="pic.src=window.URL.createObjectURL(this.files[0])">
                                <img id="pic" width="100" src="@ViewBag.Image" />
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="abouttitle">Title</label>
                                <input type="text" asp-for="Title" class="form-control" id="abouttitle" required>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea rows="5" type="text" asp-for="Description" class="form-control" id="description" required></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>