@model SiqnalRWebUI.Dtos.SocialMediaDtos.UpdateSocialMediaDto
@{
    ViewData["Title"] = "Update Social Media";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Social Media Update Form</div>
                        </div>
                        <input asp-for="SocialMediaID" hidden />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" asp-for="Title" class="form-control" id="title" required>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Url">URL</label>
                                <input type="url" asp-for="Url" class="form-control" id="Url" required>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Icon">Icon</label>
                                <input type="text" asp-for="Icon" class="form-control" id="Icon" required>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>