@model List<SiqnalRWebUI.Dtos.BookingDtos.ResultBookingDto>
@{
    ViewData["Title"] = "Bookings";
    ViewData["ActiveBooking"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="content">
    <div class="container-fluid">

        <script type="text/javascript">
            $(document).ready(() => {
                var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:5056/SignalRHub").build();
                $("#connstatus").text(connection.state);
                connection.start().then(() => {
                    $("#connstatus").text(connection.state);
                    setInterval(() => {
                        connection.invoke("GetBookingList");
                    }, 1000);

                }).catch((err) => { console.log(err) });

                connection.on("ReceiveBookingList", (bookinglistvalue) => {
                    console.log(bookinglistvalue);
                    let tablehtml = `<table class="table mt-3">
                                                    <thead>
                                                    <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Phone</th>
                                                    <th scope="col">Person Count</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Delete</th>
                                                    <th scope="col">Update</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>`
                    $.each(bookinglistvalue,(index,item) => {
                        tablehtml += `<tr>
                                      <td>${item.name}</td>
                                      <td>${item.phone}</td>
                                      <td>${item.personCount}</td>
                                      <td>${"Booking received"}</td>
                                      <td><a href="/Booking/DeleteBooking/${item.bookingID}" class="btn btn-outline-danger">Delete</a></td>
                                      <td><a href="/Booking/UpdateBooking/${item.bookingID}" class="btn btn-outline-success">Update</a></td>
                                      </tr>`
                    });
                    tablehtml += "</tbody></table>"
                    $("#bookinkList").html(tablehtml);
                });


            });


        </script>

        <h4 class="page-title">Bookings</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="bookinkList"></div>
                        <a href="/Booking/CreateBooking" class="btn btn-outline-primary">+ Add Booking</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
