@model List<SiqnalRWebUI.Dtos.SlideDtos.ResultSlideDto>
@{
    ViewData["Title"] = "Slider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="d-flex">
            <h4 class="page-title">Slider</h4>
            <a style="margin-left:950px; height:40px;" href="/Slider/CreateSlider" class="btn btn-primary"><i class="fa-solid fa-plus mr-1"></i> Add Slider</a>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex">
                                <a href="/Slider/DeleteSlider/@item.SliderID" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                                <a href="/Slider/UpdateSlider/@item.SliderID" class="btn btn-outline-primary ml-2"><i class="fa-solid fa-pen"></i></a>
                                @if (item.Status)
                                {
                                    <a href="/Slider/FalseStatus/@item.SliderID"><span style="margin-left:370px;" class="badge badge-primary mt-3">Active</span></a>
                                }
                                else
                                {
                                    <a href="/Slider/ActiveStatus/@item.SliderID"><span style="margin-left:370px;" class="badge badge-danger mt-3">Passive</span></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>