@{
    ViewData["Title"] = "Chats";
    ViewData["ActiveChats"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Messages</h4>
        <div class="row">
            <div class="col-md-12 d-flex">
                @await Component.InvokeAsync("_ChatListComponentPartial")
                <div style="background-color:#DBDBD3" class="card messagebody" id="messagebody">
                    <a href="#" role="button" onclick="w3_open()" id="chatonbtnchats"><i style="color:white" id="chatofficon" class="fa-solid fa-bars"></i></a>
                    <h1 id="messageicon"><i class="fa-solid fa-face-grin-wide"></i></h1>
                    <h3 id="messageinfo">Select a chat and start messaging!</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("mySidebar").style.width = "900px";
        document.getElementById("messagebody").style.display = "none";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("messagebody").style.display = "block";
    }
</script>
