@{
    ViewData["Title"] = "Messages";
    ViewData["ActiveChats"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Messages</h4>
        <div class="row">
            <div class="col-md-12 d-flex">
                @await Component.InvokeAsync("_ChatListComponentPartial")
                <div class="card messagebody" id="messagebody">
                    <div style="color:white; padding-top:13px; padding-bottom:13px;" class="card-title bg-primary rounded row">
                        <img width="40" class="rounded-circle mr-2 ml-3" src="~/ready-bootstrap-dashboard-master/assets/img/profile.jpg" />
                        <p class="mt-2 font-weight-bold">Malik Hesenov</p>
                        <a href="#" role="button" onclick="w3_open()" id="chatonbtn"><i style="color:white" class="fa-solid fa-bars"></i></a>
                    </div>
                    <div style="overflow-y: scroll; height: 430px; -ms-overflow-style: none; scrollbar-width: none;" class="card-body">
                        <div>
                            <p style="font-size:10px;">Samir Huseynli | 24.03.2024 12:46</p>
                            <a class="listmessage text-light bg-primary p-2 rounded mt-5">Salam</a><br /><br />
                        </div>
                        <div>
                            <p style="font-size:10px;">Malik Hesenov | 24.03.2024 12:46</p>
                            <a class="listmessage text-light bg-primary p-2 rounded mt-5">Salam</a><br /><br />
                        </div>
                        <div>
                            <p style="font-size:10px;">Malik Hesenov | 24.03.2024 12:46</p>
                            <a class="listmessage text-light bg-primary p-2 rounded mt-5">Salam</a><br /><br />
                        </div>
                        <div>
                            <p style="font-size:10px;">Malik Hesenov | 24.03.2024 12:46</p>
                            <a class="listmessage text-light bg-primary p-2 rounded mt-5">Salam</a><br /><br />
                        </div>
                        <div>
                            <p style="font-size:10px;">Malik Hesenov | 24.03.2024 12:46</p>
                            <a class="listmessage text-light bg-primary p-2 rounded mt-5">Salam</a><br /><br />
                        </div>
                        <div>
                            <p style="font-size:10px;">Malik Hesenov | 24.03.2024 12:46</p>
                            <a class="listmessage text-light bg-primary p-2 rounded mt-5">Salam</a><br /><br />
                        </div>
                    </div>
                    <div class="card-footer">
                        <form method="post" class="d-flex">
                            <input type="text" class="form-control border-primary rounded" />
                            <button type="submit" class="btn btn-primary rounded ml-2"><i class="fa-solid fa-play"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("mySidebar").style.width="900px";
        document.getElementById("messagebody").style.display = "none";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("messagebody").style.display = "block";
    }
</script>