@model SiqnalRWebUI.Dtos.OrderDtos.CreateOrderDto
@{
    ViewData["Title"] = "Create Order";
    ViewData["OrderActive"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Order Create Page</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="squareInput">Date</label>
                                <input asp-for="Date" type="date" class="form-control" required">
                            </div>
                            <div class="form-group">
                                <label for="squareSelect">Table</label>
                                <select asp-for="MenuTableID" asp-items="@ViewBag.Values" class="form-control input-square" id="squareSelect">
                                </select>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button class="btn btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>