<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						SignalR Admin Panel
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">See Menu</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Update Password</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Settings</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="index.html">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
					<span class="badge badge-count">5</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="lab la-buromobelexperte"></i>
					<p>See Menu</p>
					<span class="badge badge-count">14</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Category/Index">
					<i class="la la-icons"></i>
					<p>Categories</p>
					<span class="badge badge-count">50</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="las la-shapes"></i>
					<p>Products</p>
					<span class="badge badge-count">6</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="lar la-calendar"></i>
					<p>Bookings</p>
					<span class="badge badge-success">3</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="las la-info"></i>
					<p>About Us</p>
					<span class="badge badge-danger">25</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="las la-mail-bulk"></i>
					<p>Messages</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="las la-percent"></i>
					<p>Discounts</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="las la-highlighter"></i>
					<p>Featured</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="lar la-comment"></i>
					<p>Testimonials</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="las la-hashtag"></i>
					<p>Social Media</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="las la-chart-bar"></i>
					<p>Statistics</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="las la-cogs"></i>
					<p>Settings</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="las la-sign-out-alt"></i>
					<p>Logout</p>
				</a>
			</li>
		</ul>
	</div>
</div>