@model SiqnalRWebUI.Dtos.ContactDtos.CreateContactDto
@{
    ViewData["Title"] = "Create Contact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Contact Create Form</div>
                        </div>
                        <div class="card-body">
                            <div class="col-12">
                                <div id="fileimage" class="form-group fileimage">
                                    <label for="squareInput">Image</label>
                                    <input asp-for="LogoImage" type="file" class="form-control input-square" oninput="pic.src=window.URL.createObjectURL(this.files[0])">
                                    <img id="pic" width="100" src="~/ready-bootstrap-dashboard-master/assets/img/info.png" />
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group col-6">
                                    <label for="Mail">Project Title</label>
                                    <input type="text" asp-for="ProjectTitle" class="form-control" id="projecttitle" required>
                                </div>
                                <div class="form-group col-6">
                                    <label for="Location">Location</label>
                                    <input type="text" asp-for="Location" class="form-control" id="Location" required>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group col-6">
                                    <label for="Phone">Phone</label>
                                    <input type="text" asp-for="Phone" class="form-control" id="Phone" required>
                                </div>
                                <div class="form-group col-6">
                                    <label for="Mail">Mail</label>
                                    <input type="text" asp-for="Mail" class="form-control" id="Mail" required>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group col-6">
                                    <label for="description">Description</label>
                                    <textarea rows="5" type="text" asp-for="FooterDescription" class="form-control" id="description" required></textarea>
                                </div>
                                <div class="form-group col-6">
                                    <label for="Mail">Iframe</label>
                                    <input type="text" asp-for="LocationIframe" class="form-control" id="Iframe" required>
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
