@model List<SiqnalRWebUI.Dtos.SocialMediaDtos.ResultSocialMediaDto>
<div class="footer_social">
    @foreach(var item in Model)
    {
        <a data-bs-toggle="tooltip" data-bs-placement="top" title="@item.Title" href="@item.Url">
            <i class="fa fa-@item.Icon" aria-hidden="true"></i>
        </a>
    }
</div>