@model SiqnalRWebUI.Dtos.TestimonialDtos.CreateTestimonialDto
@{
    ViewData["Title"] = "Create Testimonial";
    ViewData["ActiveTestimonial"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Testimonial Create Form</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Image">Image</label>
                                <input type="text" asp-for="ImamgeURL" class="form-control" id="Image">
                            </div>
                            <div class="form-group">
                                <label for="name">Name and Surname</label>
                                <input type="text" asp-for="Name" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" asp-for="Title" class="form-control" id="title">
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea rows="5" type="text" asp-for="Comment" class="form-control" id="description"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>