@model SiqnalRWebUI.Dtos.TestimonialDtos.UpdateTestimonial
@{
    ViewData["Title"] = "Update Testimonial";
    ViewData["ActiveTestimonial"] = "active";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <input asp-for="TestimonialID" hidden/>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Testimonial Update Form</div>
                        </div>
                        <div class="col-12">
                            <div id="fileimage" class="form-group fileimage">
                                <label for="squareInput">Image</label>
                                <input asp-for="ImageURL" type="file" class="form-control input-square" oninput="pic.src=window.URL.createObjectURL(this.files[0])">
                                <span asp-validation-for="ImageURL" class="text-danger"></span>
                                <img id="pic" width="100" src="@ViewBag.Image" />
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="name">Name and Surname</label>
                                    <input type="text" asp-for="Name" class="form-control" id="name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" asp-for="Title" class="form-control" id="title">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea rows="5" type="text" asp-for="Comment" class="form-control" id="description"></textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-body col-12">
                            <div class="form-check" hidden>
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Status" type="checkbox" value="@Model.Status">
                                </label>
                            </div>
                        </div>

                        
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

